name: Release

on:
  workflow_call:

permissions:
  contents: write
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set Node env
        uses: actions/setup-node@v6
        with:
          node-version: 18
      - name: Install dependencies
        run: npm clean-install
      - name: Verify the integrity of provenance attestations and registry signatures for installed dependencies
        run: npm audit signatures
      - name: Run build
        run: npm run build
      - name: Publish
        run: npx semantic-release@20
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
