name: 'Verify and Release'

on:
  push:
    branches:
      - main

permissions:
  contents: write
  id-token: write
  issues: write

jobs:
  publish:
    uses: trendyol/baklava-icons/.github/workflows/publish-storybook.yml@main
    secrets: inherit
  release:
    uses: trendyol/baklava-icons/.github/workflows/release.yml@main
    needs: publish
    secrets: inherit
  chromatic:
    uses: trendyol/baklava-icons/.github/workflows/publish-chromatic.yml@main
